body {
  background: 
  url(../img/fundo2.png),
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5),
   rgba(174, 174, 174, 0.5));
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: 400px;
}

html {
  overflow-x: hidden;
}

.navbar-nav a{
  color: black;
}

.navbar-nav a:hover{
  color: #FD840E;
  font-size: 16.5px;
}

.navbar-nav li {
  padding: 0 15px;
   float: right;
   text-align: center;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
  margin: 0;
}

#black .carousel-control-next{
    opacity: 0.8;
      filter: invert(1);
}
#black .carousel-control-prev{
    opacity: 0.8;
    filter: invert(1);
}

#black .carousel-indicators {
   opacity: 0.8;
    filter: invert(1);
}

.navbar-transparente {
  background: rgba(255, 255, 255, 0.8);
    margin: 0;

}

#padding, .carousel-control-prev {
  margin-left: 10px;
}

#padding, .carousel-control-next {
  margin-right: 10px;
}

.zoom:hover {
  transform: scale(1.1);
}

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom2 {
  transition: transform .2s; /* Animation */
}

.zoom2:hover {
  transform: scale(1.05);
}

.zoom2 img {
  margin: auto;
}

.align{
  margin-top: 10px;
  text-align: center;
}

footer {
background: rgba(255, 255, 255, 0.8);
margin: 0;
}

footer li {
  list-style: none;
  display: none;
  float: right;
  padding: 0 10px;
}

.nav-link {
 float: right;
}


/*Produtos***********************
*********************************/

.inverter{
  filter: invert(1);
}

#black2 .carousel-indicators {
   opacity: 1.0;
    filter: invert(1);
}

.carousel-indicators .active {
    border-radius: 15px;
    border: 1px solid black;
    padding: 0px;
    transform: scale(0.9);
}

.indicador img {
  padding: 0;
  border-radius: 10px;
}

#produtos li {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

#produtos ul {
  padding: 0;
  margin: 0 auto;
}

.display-4 {
  font-size: 6vw;
}

.lead {
   font-size: 4vw;
}

.transparente {
  background: rgba(0, 0, 0, 0.8);
}

b {
  color: #FD840E;
}

.container {
  padding: 0;
 
}

.borders {
  border: 3px solid red;
}

/*FIM Produtos***********************
*********************************/

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

  footer li {
  list-style: none;
  float: right;
  padding: 0 10px;
  display: flex;
}

.alta {
  transform: scale(1.0);
}

.display-4 {
  font-size: 4vw;
}

.lead {
   font-size: 2vw;
}

body {
  background-size: 800px;
}

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #carousel-indicadores4 .carousel-control-prev {
  padding-right: 130px;
}

#carousel-indicadores4 .carousel-control-next {
  padding-left: 130px;
}
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
.display-4 {
  font-size: 3vw;
}

.lead {
   font-size: 2vw;
}

}
 }


